
body {
	background: url(http://3.bp.blogspot.com/_ycGxmckMHHA/TG14_WgC7DI/AAAAAAAAATc/h2W0rGt1S3I/s640/15-1.png) no-repeat center center fixed; 
	background-size: cover; 
	font-family: 'Open Sans', times; 
}

nav{
	text-align: center; 
	padding: 10px 0;
	margin: 20px 0 0;
	color: white; 

}

nav a {
	text-decoration: none; 
	color: white; 

}

nav a:hover{
	color: blue;
	font-size: 25px; 
}



footer {
	color: white;
	text-decoration: none;
	background: ; 
	text-align: center;

}


#wrapper {
	max-width: 940px; 
	margin-right: auto; 
	margin-left: auto; 
	padding: auto;  
	background: ; 
	text-align: center; 
	margin-bottom: 50px; 

}

#logo {
	text-align: center; 
	margin: 0;

}

#guess_submit{
	padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 20px; 

}

#guess_submit:hover{
background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;

}

#guess_submit:active {
	   box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

#hint{
	 border-radius: 4px;

}

#hint:hover span{
	display:none;
}

#hint:hover:before{
	content: "ARE YOU SURE YOU WANT A HINT?";
} 


#guessbox {
	width: 300px; 
	height: 30px; 
	text-align: center; 
	margin-bottom: 20px; 
	 border-radius: 4px;
}

img {
	max-width: 100%;
	margin-bottom: 20px;  
}

ul {
	margin:0;
	padding:0;
	list-style: none; 
}
